<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/webjars/vue/2.5.13/vue.min.js"></script>
</head>
<body>
<div id="main">
    <input type="file" name="myfile" id="myfile" accept=".xls,.xlsx" multiple="multiple">
    <input type="button" value="上传" @click="upload">
</div>

<script src="/js/modules/account/fileupload.js"></script>
</body>
</html>