<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/webjars/vue/2.5.13/vue.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-bordered table-hover">
        <caption class="h2 text-info">用户列表</caption>
        <tr class="text-center">
            <th>序号</th>
            <th>姓名</th>
            <th>邮箱</th>
        </tr>
        <tr class="text-center" v-for="(user,index) in users" v-cloak>
            <td>{{index+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
        </tr>
        <tr class="text-center" v-show="users.length==0">
            <td colspan="3">暂无数据</td>
        </tr>
    </table>
    <input type="button" value="批量上传" @click="addAll">
</div>

<script src="/js/modules/account/userlist.js"></script>
</body>
</html>